
//pop

.pop {
  -webkit-transform-origin: 50% 50%;
}

.pop.in {
  opacity: 1;
  -webkit-transform: scale(1);
  -webkit-animation-name: popin;
}

@-webkit-keyframes popin {
  0% {
    -webkit-transform: scale(.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

.pop.out {
  opacity: 0;
  -webkit-animation-name: popout;
}

@-webkit-keyframes popout {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(.8);
  }
}

