// =============================================
// 
// Hide elements
// 
// a{
//     @extend %hide;
// }
// 
// =============================================

%hide{
  display: none !important;
}

// =============================================
// 
// clarfix 
// 
// a{
//     @extend %hide;
// }
// 
// =============================================

%clearfix {
	display: block;


  &:before,
  &:after{ 
    content: " ";
    display: block;
    overflow: hidden;
    visibility: hidden;
    line-height: 0;
    width: 0;
    height: 0;
  }

  &:after{
    clear: both;
  }

}

// =============================================
// 
// small
// 
// =============================================

%small{
  font-size: emCalc(14);
}


// =============================================
// 
// medium
// 
// =============================================

%medium{
  font-size: emCalc(16);
}


// =============================================
// 
// large
// 
// =============================================

%large{
  font-size: emCalc(18);
}


