@import '../global';

/* form elements */
.formMain input[type='text'], .formMain input[type='search'], .formMain input[type='number'], .formMain input[type='password'], .formMain input[type='email'], .formMain input[type='url'], .formMain input[type='tel'], .formMain input[type="file"], .formMain textarea{
    vertical-align: middle;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #AA6D2F #C99E5D #D3AE6D;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #ECDAAE;
    outline: 0;
}

.formMain input[type='text']:focus, .formMain input[type='search']:focus, .formMain input[type='number']:focus, .formMain input[type='password']:focus, .formMain input[type='email']:focus, .formMain input[type='url']:focus, .formMain input[type='tel']:focus, .formMain input[type="file"]:focus, .formMain textarea:focus {
    background: #CBA367;
    border-color: #885F3E #B28E5D #BB9863!important;
    outline: none;
}

/* form disabled */
.formMain input[disabled="disabled"], .formMain textarea[disabled="disabled"], .formMain select[disabled="disabled"]{
    background: transparent !important;
    border-width: 0 !important;
    color: #000000 !important;
}