@import '../global';

/* 
 
  Como mudar a aparência das barras de rolagem

  Agora é possivel deixar a barra de rolagem de elementos com overflow, textarea, multiple select, com uma aparencia mais bonita sem usar bibliotecas de javascript. Podemos fazer isso usando apenas CSS.

*/



/* 

 *
 * import all components
 *

Create your style files (_your-file) and import. eg:

@import "your-file";

---

this structure is ideal for

1. carousel
2. menus
3. buttons
4. grid
5. form
6. icons
7. pagination
8. comments
9. sliders
10. ...

*/



.#{$p}scroller::-webkit-scrollbar {
    -webkit-appearance: none;
}

.#{$p}scroller::-webkit-scrollbar:vertical {
    width: 11px;
}

.#{$p}scroller::-webkit-scrollbar:horizontal {
    height: 11px;
}

.#{$p}scroller::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}
