@import '../global';

#tableList{
    overflow: hidden;
    .showTables{
        overflow: hidden; 
        @extend .grid_4;
        .table{ 
            @include relative;
            .tableSts{
                .tableImg {
                    position: absolute;
                    visibility: hidden;
                }
            }           
            .tableBg-N{
                @extend .icon-Mesa;
                @include relative;
            }
            .tableBg-S{ 
                @extend .icon-MesasAgrupadas;
                @include relative;
            }
            .tableBg-S.status-O.consumo-S {
                .tableImg {
                    top: 9px;
                    left: 56px;
                }
            }
            .status-D {
                .tableImg {
                    @extend .icon-MesaDisponivel;
                    top: 30px;
                    left: 50px;
                    diplay: block;
                    visibility: visible !important;
                } 
            }
            .status-O {
                .tableImg {
                    @extend .icon-MesaOcupada;
                    top: 30px;
                    left: 50px;
                    diplay: block;
                    visibility: visible !important;
                }
            }
            .status-S {
                .tableImg {
                    @extend .icon-MesaConta;
                    top: 30px;
                    left: 50px;
                    diplay: block;
                    visibility: visible !important;
                }
            }
            .reserva-R {
                .tableImg {
                    @extend .icon-MesaReservada;
                    top: 32px;
                    left: 48px;
                    diplay: block;
                    z-index:4;visibility: visible !important;
                }
            }
            .status-O.consumo-S {
                .tableImg {
                    @extend .icon-MesaConsumo;
                    top: 15px;
                    left: 45px;
                    diplay: block;
                    visibility: visible !important;
                }
            }
            .tableCodigo {
                text-align: center; 
                @extend .box;
                h2{
                    @include ellipsis;
                }
            }
        }
    }
} 