@mixin position($top: initial, $left: initial, $bottom: initial,  $right: initial, $type: none) {
    @if $type == fixed {
        position: fixed; 
    }
    @if $type == absolute {
        position: absolute;  
    }
    @if $type == relative  {
        position: relative;
        height: 100%;
    }
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    width: 100%;   
    @include boxSizing;
    overflow: hidden;
    z-index: 1;
}

@mixin font-size($size){
    @if $size == ""  {
        font-size:1.3em;
    }
    @else{

        font-size:   ($size / 10) + em;
    }
        

}

@mixin shadow($type){
    @if $type == top {
        @include box-shadow($barSombra 0 3px 10px 0);
    }
    @if $type == input {
        @include box-shadow(#7A5E41 1px 2px 3px); 
    }
    @if $type == comanda {
        @include box-shadow(#6C462e 2px 3px 5px, #8F602c 0 1px 27px 0 inset); 
    }
} 

@mixin bar($type: top){
    @if $type == bottom {
        @include background-image(linear-gradient(top, $bar3 0%,$bar4 100%));
    }
    @else {
        @include background-image(linear-gradient(top, $bar1 0%,$bar2 100%));
    } 
}

@mixin gradientRed(){
    @include background-image( linear-gradient(top, $corGradientRed1 0%,$corGradientRed2 100%));
    @include filter-gradient($corGradientRed1, $corGradientRed2, vertical);
}

@mixin gradientGreen(){
    @include background-image( linear-gradient(top, $corGradientGreen1 0%,$corGradientGreen2 100%));
    @include filter-gradient($corGradientGreen1, $corGradientGreen2, vertical);
}

@mixin boxSizing(){
    @include box-sizing(border-box);
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* botoes */

@mixin button($type) {
    @if $type == ico {
        border: none !important;
    }
    @else if $type == iconButton {
        background: transparent !important;
        border: none !important;
        color: #ffffff;
    }

    @else if $type == red  or $type == green or $type == select {
        padding: 10px;
        border-width: 2px;
        border-style: solid ;
        border-color: #AA6D2F #C99E5D #D3AE6D;
        vertical-align: middle;
        font-weight: bold;
        text-align: center; 
        color: #ffffff;
        margin: 0 1% 2% 0;
        width: 99%;
        @include shadow($type:input);
    }

    outline: 0;
    @include boxSizing;
    @include border-radius($radiusSmall);
    @include ellipsis;

    &:focus { 
        @if $type == ico { 

        } 
        @else if $type == red{ 

        } 
        @else if $type == green{ 

        } 
        text-decoration: none; 
    } 
    &:active { 
        @if $type == ico { 

        } 
        @else if $type == red{ 

        } 
        @else if $type == green{ 

        } 

    } 

    &[disabled] { 

    } 
}

@mixin responsive($media) {
    @if $media == small {
        @media #{$deviceSmall} { @content; }
    }
    @else if $media == medium{
        @media #{$deviceMedium} { @content; }
    }
    @else if $media == large{
        @media #{$deviceLarge} { @content; }
    }
}


@mixin align($align) {
    @if $align == 'center' {
        float: none !important;
        margin: 0 auto !important;
        display: block !important; 
        overflow: hidden !important;
        clear: both !important;
    }
    @else if $align == 'right'{
        text-align: left;
        input{
            float: left ;
            margin: 0 ;
            display: inline-block ;  
        }
    }
    @else if $align == 'left'{
        text-align: right;
        input{
            float: right ;
            margin: 0 ;
            display: inline-block ;  
        }
    }
}

@mixin text($text) {
    text-align:$text;
}