/* 
 * 
 * grid
 * 
*/

%container{
		@if $grid-spacer != 0 {
		margin-left:$grid-spacer / 2;
		margin-right:$grid-spacer / 2;
	} 
	@extend %clearfix;
}

// col
%col{
	display:inline;
	float: left;
	position: relative;
	@include boxSizing;
	
	@if $grid-spacer != 0 {
		margin-left:$grid-spacer / 2;
		margin-right:$grid-spacer / 2;
	} 
}

// cols
@for $i from 1 through $grid-columns {
	.col-#{$i} {
		@extend %col; 
		width: $grid-width / $grid-columns * $i - $grid-spacer;
	}
}

// off
@for $i from 1 through $grid-columns {
	.off-#{$i} {
		@extend %col; 
		left: $grid-width / $grid-columns * $i - $grid-spacer;
	}
}
